{% include "header.html" %}

<html>

<head>
    <title>Home</title>
    
</head>

<body>

    <div class = "Home-container">
        <div class = "home-box">
            <marquee behavior="alternate" class = "marquee-text" scrollamount = '10'> Welcome to MyBlog's </marquee>
        </div>
        
        <div class = "img">
            <img src="static\img\myvlog.jpg" alt="Girl in a jacket" width="50%" height="500">
        </div>
    </div>


    {% comment %}                     Blog's details                 {% endcomment %}

    <div class = "letest-vlogs"> 
        <h1 class = "vlogs-h1">Latest Blog's </h1>
    </div>

    <div class = 'Blogs'>
        <h1 class = "Blogs-Blog-s" >Blog's</h1>
    </div>


    <div class = "blog-part-1">           {% comment %}                   first BLog line                           {% endcomment %}
        
        <div class = 'Blogs-1'>          
            <p class ="P1">
                Boasting rich history and rapidation, nd more. No wonder the city is slowly becoming a preferred destination for travelers from across the county.
            </p>
        </div>
        <div class = "blog-header-1">
            <div class = "Blogs-Published-On-1">
                <h1 class = "Published-On-1">Published On</h1> 
            </div>

            <div class = "Blogs-date-1-date" >
                <input type = "date" class ="date-1" >
            </div>
        </div>  

        <div class = "blog-body-1">
            <form>
                <div class = "Blogs-comment-1-Comment">
                    <h1 class = "Comment-1">Comment's</h1> 
                </div>

                <div class = 'Blogs-comment-1-text-comment'>
                    <input type = 'text' class = "text-1" name = "comment-1" >
                </div>

                <div class = 'Blogs-comment-1-text-btn'>
                    <input type = 'Submit' value = 'Add Comment' class = "btn-1"> 
                </div>
            </form>
        </div>
        
    </div>

    <div class = "blog-part-2">           {% comment %}                   Secound BLog line                           {% endcomment %}
        
        <div class = 'Blogs-2'>             
            <p class ="P2">
                Boasting rich history and rapidationtton handloom industry, magnificent palaces and temples, street food, night markets, and more. No wonder the city is slowly becoming a preferred destination for travelers from across the county.
            </p>
        </div>
        <div class = "blog-header-2">
            <div class = "Blogs-Published-On-2">
                <h1 class = "Published-On-2">Published On</h1> 
            </div>

            <div class = "Blogs-date-2-date" >
                <input type = "date" class ="date-2" >
            </div>
        </div>  

        <div class = "blog-body-2">
            <form>
                <div class = "Blogs-comment-2-Comment">
                    <h1 class = "Comment-2">Comment's</h1> 
                </div>

                <div class = 'Blogs-comment-2-text-comment'>
                    <input type = 'text' class = "text-2" name = "comment-2" >
                </div>

                <div class = 'Blogs-comment-2-text-btn'>
                    <input type = 'Submit' value = 'Add Comment' class = "btn-2"> 
                </div>
            </form>
        </div>
        
    </div>

    <div class = "blog-part-3">           {% comment %}                   third BLog line                           {% endcomment %}
        
        <div class = 'Blogs-3'>             
            <p class ="P3">
                Boasting rich history and rapidationtton handloom industry, magnificent palaces and temples, street food, night markets, and more. No wonder the city is slowly becoming a preferred destination for travelers from across the county.
            </p>
        </div>
        <div class = "blog-header-3">
            <div class = "Blogs-Published-On-3">
                <h1 class = "Published-On-3">Published On</h1> 
            </div>

            <div class = "Blogs-date-3-date" >
                <input type = "date" class ="date-3" >
            </div>
        </div>  

        <div class = "blog-body-3">
            <form>
                <div class = "Blogs-comment-3-Comment">
                    <h1 class = "Comment-3">Comment's</h1> 
                </div>

                <div class = 'Blogs-comment-3-text-comment'>
                    <input type = 'text' class = "text-3" name = "comment-3" >
                </div>

                <div class = 'Blogs-comment-3-text-btn'>
                    <input type = 'Submit' value = 'Add Comment' class = "btn-3"> 
                </div>
            </form>
        </div>
        
    </div>

    <div class = "blog-part-4">           {% comment %}                   Forth BLog line                           {% endcomment %}
        
        <div class = 'Blogs-4'>             
            <p class ="P4">
                Boasting rich history and rapidationtton handloom industry, magnificent palaces and temples, street food, night markets, and more. No wonder the city is slowly becoming a preferred destination for travelers from across the county.
            </p>
        </div>
        <div class = "blog-header-4">
            <div class = "Blogs-Published-On-4">
                <h1 class = "Published-On-4">Published On</h1> 
            </div>

            <div class = "Blogs-date-4-date" >
                <input type = "date" class ="date-4" >
            </div>
        </div>  

        <div class = "blog-body-4">
            <form>
                <div class = "Blogs-comment-4-Comment">
                    <h1 class = "Comment-4">Comment's</h1> 
                </div>

                <div class = 'Blogs-comment-4-text-comment'>
                    <input type = 'text' class = "text-4" name = "comment-4" >
                </div>

                <div class = 'Blogs-comment-4-text-btn'>
                    <input type = 'Submit' value = 'Add Comment' class = "btn-4"> 
                </div>
            <form>
        </div>
    
   

    
    
</body>

</html>

{% include "footer.html" %}